//
// home.scss
//
.bg-home-6 {
    position: relative;
    // padding: 180px 0px 150px 0px;
    padding: 150px 0px 100px 0px;
    // background-image: url(../assets/bg/bg-1.png); linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    background-image: url("../images/bg/SKYLIGHTS5a.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation-name: banner;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    perspective: 1000;
    background-attachment: fixed;
}
@keyframes banner {
    0% {
        background-image: url("../images/bg/SKYLIGHTS5b.jpg");
        // background-position: 0% 0%;
    }
    // 18% {background-image: url(../img/2.jpg);}
    50% {
        background-image: url("../images/bg/SKYLIGHTS5c.jpg");
        // background-position: 0% -250%;
    }
    // 54% {background-image: url(../img/4.jpg);}
    // 72% {background-image: url(../img/5.jpg);}
    100% {
        background-image: url("../images/bg/SKYLIGHTS5d.jpg");
        // background-position: 0% -500%;
    }
}
.home-text {
    h2 {
        // color: #253b5c;
        font-size: 67px;
        line-height: 76px;
        vertical-align: baseline;
        letter-spacing: normal;
        font-weight: 900;
        text-transform: uppercase;
    }
    h1 {
        // color: #253b5c;
        font-size: 101px;
        line-height: 76px;
        vertical-align: baseline;
        letter-spacing: normal;
        font-weight: 900;
        text-transform: uppercase;
    }
    h3 {
        // color: #253b5c;
        font-size: 25px;
        line-height: 42px;
        vertical-align: baseline;
        letter-spacing: normal;
        font-weight: 900;
        text-transform: uppercase;
        margin-left: 470px;
    }
}

// responsiveness
@media (max-width: 991px) {
    .home-text {
        h2 {
            line-height: 53px;
            font-size: 53px;
        }
        h1 {
            line-height: 79px;
            font-size: 65px;
        }
        h3 {
            line-height: 30px;
            font-size: 30px;
            margin-left: 235px;
        }
    }
}
@media (min-width: 200px) and (max-width: 768px) {
    .home-text {
        h2 {
            line-height: 29px;
            font-size: 29px;
        }
        h1 {
            line-height: 60px;
            font-size: 50px;
        }
        h3 {
            line-height: 23px;
            font-size: 16px;
            margin-left: 215px;
        }
    }
}

.bg-home-services {
    position: relative;
    padding: 180px 0px 150px 0px;
    background-image: url(../images/bg/bg-1.png);
    background-position: center center;
}

.bg-home-use {
    position: relative;
    padding: 100px 0px 150px 0px;
    // background-image: url(../images/bg/bg-1.png);
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../images/bg/why3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.test-bg {
    position: relative;
    padding: 180px 0px 150px 0px;
    // background-image: url(../assets/bg/bg-1.png);
    // background-position: center center;
}
.test-animate-img {
    position: relative;
    z-index: -2;
    img {
        position: absolute;
        height: 500px;
    }
}
